<!DOCTYPE html>
<html lang="fr" class="h-100" data-lt-installed="true">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ 'title.base'|trans }}
        {% endblock %}
    </title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<nav
        class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ path('app_default') }}">Choix options</a>
    <!-- Sidebar Toggle-->
    {% if app.user %}
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fa-solid fa-bars"></i>
        </button>
    {% endif %}
    <!-- Navbar Search-->
    {% if is_granted('ROLE_ADMIN') %}
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" action="{{ path('app_default') }}">
            <div class="input-group">
                <input class="form-control" type="text" name="_switch_user" placeholder="Impersonation..."
                       aria-label="Usurper..." aria-describedby="btnNavbarImpersonate"/>
                <button class="btn btn-primary" id="btnNavbarImpersonate" type="submit">
                    <i class="fa-solid fa-user-secret"></i>
                </button>
            </div>
        </form>
    {% endif %}
    <!-- Navbar-->
    {% if app.user %}
        <ul class="navbar-nav ms-auto {{ is_granted('ROLE_ADMIN') ? 'ms-md-0' : '' }} me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ path('app_user_profile') }}">Profil</a>
                    </li>
                    {#                        <li><a class="dropdown-item" href="#!">Activity Log</a></li> #}
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <li>
                            <a class="dropdown-item" href="{{ impersonation_exit_path(path('app_default') ) }}">Annuler l'impersonation</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
    {% else %}
        <a class="btn btn-outline-secondary ms-auto me-3" href="{{ path('app_login') }}">Login</a>
    {% endif %}
</nav>

<div id="layoutSidenav">
    {% if app.user %}
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link{% if app.request.attributes.get('_route') == 'app_default' %} active{% endif %}"
                           href="{{ path('app_default') }}">
                            <div class="sb-nav-link-icon">
                                <i class="fa-solid fa-home"></i>
                            </div>
                            Accueil
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_passage_annee' %} active{% endif %}"
                               href="{{ path('app_passage_annee') }}">
                                <div class="sb-nav-link-icon">
                                    <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
                                </div>
                                Passage d'année
                            </a>
                            <div class="sb-sidenav-menu-heading">Configuration</div>
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_parcours_index' %} active{% endif %}"
                               href="{{ path('app_parcours_index') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-road"></i></div>
                                Parcours
                            </a>
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_campagne_choix_index' %} active{% endif %}"
                               href="{{ path('app_campagne_choix_index') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-list-ol"></i></div>
                                Campagnes de choix
                            </a>
                            {#                            <a class="nav-link" href="{{ path('app_bloc_ue_index') }}"> #}
                            {#                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div> #}
                            {#                                Bloc UE #}
                            {#                            </a> #}
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_bloc_ue_category_index' %} active{% endif %}"
                               href="{{ path('app_bloc_ue_category_index') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                                Catégories de bloc UE
                            </a>
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_ue_index' %} active{% endif %}"
                               href="{{ path('app_ue_index') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-book"></i></div>
                                Unités d'enseignement
                            </a>
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_annee_formation_index' %} active{% endif %}"
                               href="{{ path('app_annee_formation_index') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-calendar-days"></i></div>
                                Années de formation
                            </a>
                            <div class="sb-sidenav-menu-heading">Gestion des utilisateurs</div>
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_etudiant_index' %} active{% endif %}"
                               href="{{ path('app_etudiant_index') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users-gear"></i></div>
                                Import/export des étudiants
                            </a>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") == false %}
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_etudiant_parcours' %} active{% endif %}"
                               href="{{ path('app_etudiant_parcours') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-road"></i></div>
                                Parcours
                            </a>
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'app_etudiant_choix_options' %} active{% endif %}"
                               href="{{ path('app_etudiant_choix_options') }}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-list-ol"></i></div>
                                Campagne de choix
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    {% endif %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid pt-2">
                {% for type, messages in app.flashes %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            <p class="m-0">{{ message }}</p>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
