{% extends 'base.html.twig' %}

{% block title %}Campagnes index{% endblock %}

{% block body %}
    <h4>Liste des campagnes de choix d'options</h4>
    <div class="row mt-2 g-3">
        {% for campagne in campagnes %}
            <div class="col-xl-6 col-xxl-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Campagne du {{ campagne.dateDebut|date("m/d/Y") }}
                            au {{ campagne.dateFin|date("m/d/Y") }}</h5>
                    </div>
                    <div class="card-body d-flex flex-column gap-3">
                        {% set reponseCampage = reponsesCampagnes|filter(reponse => reponse.campagne.id == campagne.id)|first %}
                        {% for blocOption in campagne.blocOptions|filter(blocOption => blocOption.parcours == parcours)|sort((a, b) => a.blocUE.category.label <=> b.blocUE.category.label) %}
                            <div class="card">
                                <div class="card-header">
                                    <h6>{{ blocOption.blocUE.category.label }}</h6>
                                    Nombre d'UE à choisir : {{ blocOption.blocUE.nbUEsOptional }}
                                </div>
                                <div class="card-body">
                                    {% if reponseCampage %}
                                        {% for choix in reponseCampage.choixes|sort((a, b) => a.ordre <=> b.ordre) %}
                                            {% if choix.blocOption.id == blocOption.id %}
                                                <div>{{ choix.ordre }} - {{ choix.UE.label }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for ue in blocOption.UEs %}
                                            {{ ue.label }}</br>
                                        {% else %}
                                            <p>Pas encore d'UE à choisir</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="{{ path('app_etudiant_choix_options_edit', {'id': campagne.id}) }}"
                               class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i>
                                {% if reponseCampage %}
                                    Modifier mes choix
                                {% else %}
                                    Faire mes choix
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">
                Il n'y a pas de campagne de choix d'options en cours.
            </div>
        {% endfor %}
    </div>
{% endblock %}