{% if bloc_ues %}
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for bloc_ue in bloc_ues %}
                <th scope="col">{{ bloc_ue.blocUECategory.label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for bloc_ue in bloc_ues %}
                <td>
                    {% for blocUeUes in bloc_ue.blocUeUes %}
                        <div>
                            <a href="{{ path('app_ue_show', {'id': blocUeUes.ue.id}) }}">{{ blocUeUes.ue.label }}</a>
                        </div>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        Aucun bloc d'UE n'a été créé pour ce parcours.
    </div>
{% endif %}

{#        {% for bloc_ue in bloc_ues %} #}
{#            {% for ue in bloc_ue.ues %} #}
{#                <tr> #}
{#                    <td> #}
{#                        <a href="{{ path('app_ue_show', {'id': ue.id}) }}">{{ ue.label }}</a> #}
{#                    </td> #}
{#                </tr> #}
{#            {% endfor %} #}
{#        {% endfor %} #}