{% extends 'base.html.twig' %}

{% block title %}BlocUE index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Liste des bloc UE</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_bloc_ue_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Ajouter un bloc UE
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>UEs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for bloc_ue in bloc_ues %}
            <tr>
                <td>{{ bloc_ue.id }}</td>
                <td>{{ bloc_ue.category.label }}</td>
                <td class="text-end">
                    {% for ue in bloc_ue.UEs %}
                        <span class="badge bg-primary">
                            <a href="{{ path('app_ue_show', {'id': ue.id}) }}" class="text-white text-decoration-none">{{ ue.label }}</a>
                        </span>
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('app_bloc_ue_show', {'id': bloc_ue.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('app_bloc_ue_edit', {'id': bloc_ue.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun Bloc UE</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
