{% extends 'base.html.twig' %}

{% block title %}BlocUE{% endblock %}

{% block body %}
    <h1>BlocUE</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bloc_ue.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ bloc_ue.category.label }}</td>
            </tr>
            <tr>
                <th>UEs</th>
                <td>
                    {% for ue in bloc_ue.ues %}
                        <a href="{{ path('app_ue_show', {'id': ue.id}) }}">{{ ue.label }}</a>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bloc_ue_index') }}">back to list</a>

    <a href="{{ path('app_bloc_ue_edit', {'id': bloc_ue.id}) }}">edit</a>

    {{ include('bloc_ue/_delete_form.html.twig') }}
{% endblock %}
