{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Import des etudiants</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_etudiant_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Créer un étudiant
            </a>
        </div>
    </div>



    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex gap-2">
                        {{ form_label(form.fileImport) }}
                        <div>
                            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#importStudentHelpModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_widget(form.fileImport) }}
                    {{ form_errors(form.fileImport) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.parcours) }}
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fas fa-upload"></i>
                        Importer
                    </button>
                </div>
            </div>

        </div>
    </div>

    {{ form_end(form) }}

    <div class="modal fade" id="importStudentHelpModal" tabindex="-1" aria-labelledby="importStudentHelpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Le fichier peut être au format CSV, XLS ou XLSX et contenir les colonnes suivantes :
                    </p>
                    <ul>
                        <li>Nom</li>
                        <li>Prenom</li>
                        <li>Mail</li>
                    </ul>
                    <p>
                        Les colonnes doivent être dans cet ordre.
                    </p>
                    <p>
                        Le fichier ne doit pas contenir d'entête.
                    </p>
                    <p>
                        Exemple de fichier :
                    </p>
                    <table class="table table-bordered">
                        <tr>
                            <td>Dupont</td>
                            <td>Jean</td>
                            <td>jean.dupont@exemple.fr</td>
                        </tr>
                        <tr>
                            <td>Durand</td>
                            <td>Marie</td>
                            <td>marie.durand@exemple.com</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-file-export"></i>
                Export par année de formation
            </button>
            <ul class="dropdown-menu">
                {% for anneeFormation in anneeFormations %}
                    <li><a class="dropdown-item" href="{{ path('app_etudiant_export', {'anneeFormation': anneeFormation.id}) }}">{{ anneeFormation }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Parcours</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.prenom }}</td>
                    <td>{{ etudiant.mail }}</td>
                    <td>
                        {% if etudiant.parcours is not null %}
                            <a href="{{ path('app_parcours_show', {'id': etudiant.parcours.id}) }}">
                                {{ etudiant.parcours }}
                            </a>
                        {% else %}
                            <span class="badge bg-danger">Aucun parcours</span>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}"
                               class="btn btn-sm btn-primary"
                               title="Voir l'étudiant">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}"
                               class="btn btn-sm btn-primary"
                               title="Modifier l'étudiant">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{ path('app_etudiant_renvoyer', {'id': etudiant.id}) }}"
                               class="btn btn-sm btn-primary" title="Renvoyer le mail de confirmation">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="#" data-href="{{ path('app_etudiant_ajax_delete', {'id': etudiant.id}) }}"
                               data-delete-token="{{ csrf_token('delete' ~ etudiant.id) }}"
                               class="btn btn-sm btn-danger"
                               title="Supprimer l'étudiant">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(etudiants) }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer un étudiant</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Etes-vous sûr de vouloir supprimer cet étudiant ?
                </div>
                <div class="modal-footer">
                    <button id="modalCancelDeleteButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Annuler
                    </button>
                    <button id="modalConfirmDeleteButton" type="button" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('etudiant_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('etudiant_index') }}
{% endblock %}

