{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <h1>Import des etudiants</h1>
     {{ form_start(form, {'attr':{'novalidate':'novalidate'}})}}
    {{form_label(form.fileImport)}}
    {{form_widget(form.fileImport)}}
    {{form_errors(form.fileImport)}}
    <input type="submit" class="btn btn-primary" value="Valider">
     {{ form_end(form)}}



    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.Nom }}</td>
                <td>{{ etudiant.Prenom }}</td>
                <td>{{ etudiant.Mail }}</td>
                <td>
                    <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}">show</a>
                    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(etudiants) }}
    </div>

    <a href="{{ path('app_etudiant_new') }}">Create new</a>
{% endblock %}
