{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modification d'un UE
{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Modification d'une UE</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('ue/_delete_form.html.twig') }}

                <a href="{{ path('app_ue_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }} de UE
                </a>
            </div>
        </div>
    </div>


    {{ include('ue/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
