{% extends 'base.html.twig' %}

{% block title %}UE index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Liste des UE</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_ue_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Ajouter une UE
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Categorie de bloc UE</th>
            <th>Actif</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ue in ues %}
            <tr>
                <td>{{ ue.id }}</td>
                <td>{{ ue.label }}</td>
                <td>
                    {% for categorie in ue.blocUECategories %}
                        <span class="badge bg-primary">
{#                            <a href="{{ path('app_bloc_ue_show', {'id': ue.blocUECategory.id}) }}" #}
                            {#                               class="text-white text-decoration-none">{{ ue.blocUECategory.label }}</a> #}
                            {{ categorie.label }}
                        </span>
                    {% endfor %}
                </td>
                <td>{{ ue.active ? 'Oui' : 'Non' }}</td>
                <td class="text-end">
                    <div class="btn-group">
                        <a href="{{ path('app_ue_show', {'id': ue.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('app_ue_edit', {'id': ue.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune UE</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
