{% extends 'base.html.twig' %}

{% block title %}UE index{% endblock %}

{% block body %}
    <h1>UE index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Bloc UE Categorie</th>
            <th>Active</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ue in ues %}
            <tr>
                <td>{{ ue.id }}</td>
                <td>{{ ue.label }}</td>
                <td>
                    {% if ue.blocUECategory %}
                        <span class="badge bg-primary">
{#                            <a href="{{ path('app_bloc_ue_show', {'id': ue.blocUECategory.id}) }}"#}
{#                               class="text-white text-decoration-none">{{ ue.blocUECategory.label }}</a>#}
                            {{ ue.blocUECategory.label }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ ue.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_ue_show', {'id': ue.id}) }}">show</a>
                    <a href="{{ path('app_ue_edit', {'id': ue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ue_new') }}">Create new</a>
{% endblock %}
