{% extends 'base.html.twig' %}

{% block title %}UE{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>UE</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('ue/_delete_form.html.twig') }}
                <a href="{{ path('app_ue_edit', {'id': ue.id}) }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>
                <a href="{{ path('app_ue_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }} de UE
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ue.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ ue.label }}</td>
        </tr>
        <tr>
            <th>Categorie de bloc UE</th>
            <td>
                {% for categorie in ue.blocUECategories %}
                    <a href="{{ path('app_bloc_ue_category_show', {'id': categorie.id}) }}">{{ categorie.label }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ ue.active ? 'Oui' : 'Non' }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
