{% extends 'base.html.twig' %}

{% block title %}UE{% endblock %}

{% block body %}
    <h1>UE</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ue.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ ue.label }}</td>
            </tr>
            <tr>
                <th>Bloc UE Categorie</th>
                <td>
                    {% if ue.blocUECategory %}
                        <a href="{{ path('app_bloc_ue_category_show', {'id': ue.blocUECategory.id}) }}">{{ ue.blocUECategory.label }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ ue.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ue_index') }}">back to list</a>

    <a href="{{ path('app_ue_edit', {'id': ue.id}) }}">edit</a>

    {{ include('ue/_delete_form.html.twig') }}
{% endblock %}
