{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Groupes</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('groupe/_delete_form.html.twig') }}
                <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>
                <a href="{{ path('app_groupe_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }} de groupe
                </a>
            </div>
        </div>
    </div>
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ groupe.label }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col"></th>
                                    </thead>
                                    <tbody data-check-all-container>

                            {% for etudiant in groupe.etudiants %}
                            <tr>
                                            <td>{{ etudiant.id }}</td>
                                            <td>{{ etudiant.nom }}</td>
                                            <td>{{ etudiant.prenom }}</td>
                                        </tr>
                            {% endfor %}
                                    </tbody>
                                </table>

    <a href="{{ path('app_groupe_index') }}">back to list</a>

    <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}">edit</a>

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
