{% extends 'base.html.twig' %}

{% block title %}UserGestion index{% endblock %}

{% block body %}
    <h1>Import des etudiants</h1>
     {{ form_start(form, {'attr':{'novalidate':'novalidate'}})}}
    {{form_label(form.fileImport)}}
    {{form_widget(form.fileImport)}}
    {{form_errors(form.fileImport)}}
    <input type="submit" class="btn btn-primary" value="Valider">
     {{ form_end(form)}}



    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_gestion in user_gestions %}
            <tr>
                <td>{{ user_gestion.Nom }}</td>
                <td>{{ user_gestion.Prenom }}</td>
                <td>{{ user_gestion.Email }}</td>
                <td>
                    <a href="{{ path('app_user_gestion_show', {'id': user_gestion.id}) }}">show</a>
                    <a href="{{ path('app_user_gestion_edit', {'id': user_gestion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_gestion_new') }}">Create new</a>
{% endblock %}
