{% import _self as formMacros %}

{% macro printBlocOption(blocOption) %}
    {{ form_widget(blocOption) }}
{% endmacro %}

{% macro printBlocUE(form, blocUE, index) %}
    <div class="col-12 col-md-6" data-bloc-ue>
        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        Bloc Option
                        n°{{ index }}
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-sm btn-danger" data-action="delete-bloc-ue">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="form-field">
                    <label for="bloc_option_{{ index }}_bloc_ue">Categorie de bloc UE</label>
                    <select class="form-select" data-bloc-ue-category="{{ blocUE.category }}"></select>
                </div>
                <div data-bloc-options-container-display class="p-2">
                    {% set parcours = form.parcours.vars.data %}
                    {% set allUEs = [] %}

                    {% set parcours = form.parcours.vars.data %}
                    {% set allUEs = [] %}

                    {% for parcour in parcours %}
                        {% for blocOption in parcour.blocOptions|filter(blocOption => blocOption.campagneChoix.id == form.vars.data.id and blocOption.blocUE.category.id == blocUE.category) %}
                            {% for blocOptionUe in blocOption.blocOptionUes %}
                                {% set ue = blocOptionUe.ue %}
                                {% if ue not in allUEs %}
                                    {% set allUEs = allUEs|merge([ue]) %}
                                    <div class="row">
                                        <div class="col-8 col-sm-9 col-md-8 col-lg-10">
                                            {{ ue }}
                                            {% for parcour in parcours %}
                                                {% for blocOption in parcour.blocOptions|filter(blocOption => blocOption.campagneChoix.id == form.vars.data.id and blocOption.blocUE.category.id == blocUE.category) %}
                                                    {% if blocOptionUe.ue in blocOption.blocOptionUes|map(blocOptionUe => blocOptionUe.ue) %}
                                                        <span class="badge bg-primary">{{ parcour.label }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-4 col-sm-3 col-md-4 col-lg-2">
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}


                </div>
                <div data-bloc-options-container class="d-none">
                    {% for blocOption in blocUE.blocOptions %}
                        {{ formMacros.printBlocOption(blocOption) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printParcoursNoUEs() %}
    <div class="alert alert-primary m-0 p-2">Ce parcours n'a pas d'UE pour cette catégorie.</div>
{% endmacro %}

{% macro printNoBlocUE() %}
    <div class="alert alert-primary m-0 p-2">Aucun bloc option n'a encore été ajouté.</div>
{% endmacro %}

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">{{ form_row(form.dateDebut) }}</div>
    <div class="col-md-6">{{ form_row(form.dateFin) }}</div>
</div>
{{ form_row(form.parcours) }}
{# <div id="bloc-option-container" class="card mb-3" style="display: none"> #}
<div id="bloc-option-container" class="card mb-3">
    <div class="card-header p-2">
        <div class="d-flex">
            <div class="flex-grow-1">Liste des blocs options</div>
            <div class="flex-shrink-0">
                <a id="add-bloc-ue" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i>
                    Ajouter un bloc option
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="bloc-ue-container" class="row g-4"
             data-prototype-bloc-ue="{{ formMacros.printBlocUE(form, {category:'__category_id__', blocOptions:[]},'__name__')|e('html_attr') }}"
             data-prototype-bloc-option="{{ formMacros.printBlocOption(form.blocOptions.vars.prototype)|e('html_attr') }}"
             data-prototype-no-bloc-ue="{{ formMacros.printNoBlocUE()|e('html_attr') }}"
             data-prototype-parcours-no-ues="{{ formMacros.printParcoursNoUEs()|e('html_attr') }}"
             data-bloc-option-index="0"
        >
            {% if form.blocOptions.children is not empty %}
                {# regroupe les bloc d'option par blocUE->categorie #}
                {% set blocUEs = [] %}
                {% for blocOption in form.blocOptions %}
                    {% set category = blocOption.vars.value.blocUE.category %}
                    {% set found = false %}
                    {% for key, blocUE in blocUEs %}
                        {% if key == ('category_' ~ category.id) and not found %}
                            {% set blocUEs = blocUEs|merge({ (key): blocUE|merge({ 'blocOptions': blocUE.blocOptions|merge([blocOption]) }) }) %}
                            {% set found = true %}
                        {% endif %}
                    {% endfor %}

                    {% if not found %}
                        {% set blocUEs = blocUEs|merge({ ('category_' ~ category.id): { 'category': category.id, 'blocOptions': [blocOption] } }) %}
                    {% endif %}
                {% endfor %}

                {# affiche les bloc d'options par groupe #}
                {% for blocUE in blocUEs %}
                    {{ formMacros.printBlocUE(form, blocUE,loop.index) }}
                {% endfor %}
            {% else %}
                {{ formMacros.printNoBlocUE() }}
            {% endif %}
        </div>
    </div>
</div>

<div class="text-end mb-3">
    <button class="btn btn-sm btn-primary">
        <i class="fas fa-save"></i>
        {{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}
