{% extends 'base.html.twig' %}

{% block title %}Choix groupes{% endblock %}

{% block body %}
    <h1>Campagne de choix - groupes</h1>

    {% for bloc_ue in campagne_choix.blocOptions %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bloc_ue.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ bloc_ue.blocUE.blocUECategory.label }}</td>
            </tr>
            <tr>
                <th>UEs</th>
            </tr>
            {% for ue in bloc_ue.ues %}
            <tr>
                <th>Nom</th>
                <td>
                    <a href="{{ path('app_ue_show', {'id': ue.id}) }}">{{ ue.label }}</a>
                </td>
            </tr>
                {% for groupe in ue.groupes %}
            <tr>
                <th>{groupe.label}</th>
                <td>
                {% if groupe.etudiants %}
                    {% for etudiant in groupe.etudiants %}
                    {etudiant.label}, 
                    {% endfor %}.
                {% else %}
                Pas de groupes crées 
                {% endif %}
                </td>
            </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <a href="{{ path('app_bloc_ue_index') }}">back to list</a>
{% endblock %}
