{% extends 'base.html.twig' %}

{% block title %}Campagnes de choix{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Liste des campagnes de choix</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_campagne_choix_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Créer une campagne de choix
            </a>
        </div>
    </div>

    {{ knp_pagination_filter(campagne_choixes, {
        'p.id': 'ID',
        'af.parcours': 'Parcours',
        'p.dateDebut': 'Date de début',
        'p.dateFin': 'Date de fin',
    }) }}

    <div class="badge bg-primary">
        {{ campagne_choixes.getTotalItemCount }} campagne(s) de choix
    </div>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th>{{ knp_pagination_sortable(campagne_choixes, 'ID', 'cc.id') }}</th>
            <th>{{ knp_pagination_sortable(campagne_choixes, 'Parcours', 'ccp.label') }}</th>
            <th>{{ knp_pagination_sortable(campagne_choixes, 'Date de début', 'cc.dateDebut') }}</th>
            <th>{{ knp_pagination_sortable(campagne_choixes, 'Date de fin', 'cc.dateFin') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for campagne_choix in campagne_choixes %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ campagne_choix.id }}</td>
                <td>{{ campagne_choix.parcours }}</td>
                <td>{{ campagne_choix.dateDebut ? campagne_choix.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ campagne_choix.dateFin ? campagne_choix.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-end">
                    <div class="btn-group">
                        <a href="{{ path('app_campagne_choix_show', {'id': campagne_choix.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('app_campagne_choix_edit', {'id': campagne_choix.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(campagne_choixes) }}
    </div>

{% endblock %}
