{% extends 'base.html.twig' %}

{% block title %}Campagnes de choix{% endblock %}

{% block body %}
    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 mx-auto">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h4>Liste des campagnes de choix</h4>
            </div>
            <div class="flex-shrink-0">
                <a href="{{ path('app_campagne_choix_new') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i>
                    Ajouter une campagne de choix
                </a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Parcours</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for campagne_choix in campagne_choixes %}
                <tr>
                    <td>{{ campagne_choix.id }}</td>
                    <td>{{ campagne_choix.parcours }}</td>
                    <td>{{ campagne_choix.dateDebut ? campagne_choix.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ campagne_choix.dateFin ? campagne_choix.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('app_campagne_choix_show', {'id': campagne_choix.id}) }}"
                               class="btn btn-sm btn-primary">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{{ path('app_campagne_choix_edit', {'id': campagne_choix.id}) }}"
                               class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
