{% extends 'base.html.twig' %}

{% block title %}Nouvelle campagne de choix{% endblock %}

{% block body %}
{#    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 mx-auto">#}
        <div class="d-flex">
            <div class="flex-grow-1">
                <h4>Création de campagne de choix</h4>
            </div>
            <div class="flex-shrink-0">
                <a href="{{ path('app_campagne_choix_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }}
                </a>
            </div>
        </div>

        {{ include('campagne_choix/_form.html.twig') }}
{#    </div>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('campagne_choix_form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('campagne_choix_form') }}
{% endblock %}