{% extends 'base.html.twig' %}

{% block title %}CampagneChoix{% endblock %}

{% block body %}
    {#    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 mx-auto"> #}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Campagne de choix</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('campagne_choix/_delete_form.html.twig') }}

                <a href="{{ path('app_campagne_choix_edit', {'id': campagne_choix.id}) }}"
                   class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>

                <a href="{{ path('app_campagne_choix_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ campagne_choix.id }}</td>
        </tr>
        <tr>
            <th>Parcours</th>
            <td>
                {% if campagne_choix.parcours %}
                    {% for parcours in campagne_choix.parcours %}
                        <a href="{{ path('app_parcours_show', {'id': parcours.id}) }}">{{ parcours }}</a>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date de debut</th>
            <td>{{ campagne_choix.dateDebut ? campagne_choix.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ campagne_choix.dateFin ? campagne_choix.dateFin|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        {% if campagne_choix.dateFin < date("now") %}
            {% if campagne_choix.blocOptions[0].UEs[0].groupes[0] is not defined %}
                <tr>
                    <th> Choix des groupes UE</th>
                    <td><a href="{{ path('app_campagne_groupe_choix', {'id': campagne_choix.id, 'choix': 1}) }}"
                           class="btn btn-sm btn-primary"><i class="bi-box-arrow-right"></i>
                            Ordre alphabétique
                        </a>
                        <a href="{{ path('app_campagne_groupe_choix', {'id': campagne_choix.id, 'choix': 2}) }}"
                           class="btn btn-sm btn-primary"><i class="bi-box-arrow-right"></i>
                            Aleatoire
                        </a>
                        <a href="{{ path('app_campagne_groupe_choix', {'id': campagne_choix.id, 'choix': 3}) }}"
                           class="btn btn-sm btn-primary"><i class="bi-box-arrow-right"></i>
                            Manuel
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>

    {% if campagne_choix.blocOptions|length > 0 %}
        <h5>Liste des blocs UE</h5>
        <div class="row">
            {% set blocOptionsByCategory = {} %}

            {# Regrouper les blocOptions par blocUECategory #}
            {% for blocOption in campagne_choix.blocOptions %}
                {% set category = blocOption.blocUE.category.label %}
                {% if blocOptionsByCategory[category] is not defined %}
                    {% set blocOptionsByCategory = blocOptionsByCategory|merge({ (category): [] }) %}
                {% endif %}
                {% set blocOptionsByCategory = blocOptionsByCategory|merge({ (category): blocOptionsByCategory[category]|merge([blocOption]) }) %}
            {% endfor %}

            {# Boucler sur le dictionnaire et afficher les blocs fusionnés #}
            {% for category, blocOptions in blocOptionsByCategory %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            {{ category }}
                        </div>
                        <div class="card-body">
                            {% set uesByParcours = {} %}
                            {# Regrouper les ues par parcours #}
                            {% for blocOption in blocOptions %}
                                {% for ue in blocOption.ues %}
                                    {% set parcoursLabel = blocOption.parcours.label %}
                                    {% if uesByParcours[parcoursLabel] is not defined %}
                                        {% set uesByParcours = uesByParcours|merge({ (parcoursLabel): {'parcours': blocOption.parcours, 'blocUE': blocOption.blocUE, 'ues': []} }) %}
                                    {% endif %}
                                    {% set uesByParcours = uesByParcours|merge({ (parcoursLabel): {'parcours': blocOption.parcours, 'blocUE': blocOption.blocUE, 'ues': uesByParcours[parcoursLabel].ues|merge([ue])} }) %}
                                {% endfor %}
                            {% endfor %}
                            {# Afficher les ues séparées par parcours #}
                            {% for parcoursLabel, blocOption in uesByParcours %}
                                <h5>{{ blocOption.parcours.anneeFormation.label }} - {{ blocOption.parcours.label }} - {{ blocOption.blocUE.nbUEsOptional }} UE(s) optionnelle(s) à choisir</h5>
                                <ul>
                                    {% for ue in blocOption.ues %}
                                        <li>
                                            <a href="{{ path('app_ue_show', {'id': ue.id}) }}">{{ ue.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary">
            Aucun bloc d'UE n'a été créé pour ce parcours.
        </div>
    {% endif %}
    {#    </div> #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('campagne_choix_show') }}
{% endblock %}