{% extends 'base.html.twig' %}

{% block title %}CampagneChoix{% endblock %}

{% block body %}
    {#    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 mx-auto"> #}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Campagne de choix</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('campagne_choix/_delete_form.html.twig') }}

                <a href="{{ path('app_campagne_choix_edit', {'id': campagne_choix.id}) }}"
                   class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>

                <a href="{{ path('app_campagne_choix_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ campagne_choix.id }}</td>
        </tr>
        <tr>
            <th>Parcours</th>
            <td>
                {% if campagne_choix.parcours %}
                    {% for parcours in campagne_choix.parcours %}
                        <a href="{{ path('app_parcours_show', {'id': parcours.id}) }}">{{ parcours }}</a>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date de debut</th>
            <td>{{ campagne_choix.dateDebut ? campagne_choix.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ campagne_choix.dateFin ? campagne_choix.dateFin|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        {% if campagne_choix.dateFin < date("now") %}
            {% if campagne_choix.blocOptions[0].UEs[0].groupes[0] is not defined %}
                <tr>
                    <th> Constitution des groupes</th>
                    <td><a href="{{ path('app_campagne_groupe_choix', {'id': campagne_choix.id, 'choix': 1}) }}"
                           class="btn btn-sm btn-primary"><i class="bi-box-arrow-right"></i>
                            Ordre alphabétique
                        </a>
                        <a href="{{ path('app_campagne_groupe_choix', {'id': campagne_choix.id, 'choix': 2}) }}"
                           class="btn btn-sm btn-primary"><i class="bi-box-arrow-right"></i>
                            Aleatoire
                        </a>
                        <a href="{{ path('app_campagne_groupe_choix', {'id': campagne_choix.id, 'choix': 3}) }}"
                           class="btn btn-sm btn-primary"><i class="bi-box-arrow-right"></i>
                            Manuel
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>

    <div class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    Liste des blocs UE
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body p-2">
                    {% if campagne_choix.blocOptions|length > 0 %}
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                {% for parcours in campagne_choix.parcours %}
                                    <button class="nav-link py-1 {{ loop.first ? 'active' : '' }}"
                                            id="nav-parcours-bloc-option-tab-{{ loop.index }}"
                                            data-bs-toggle="tab"
                                            data-bs-target="#nav-parcours-bloc-option-{{ loop.index }}" type="button" role="tab"
                                            aria-controls="nav-parcours-bloc-option-{{ loop.index }}"
                                            aria-selected="{{ loop.first ? 'true' : 'false' }}">
                                        {{ parcours.label }}
                                    </button>
                                {% endfor %}
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            {% for parcours in campagne_choix.parcours %}
                                {% set parcoursIndex = loop.index %}
                                <div class="tab-pane fade {{ loop.first ? 'show active' : '' }} p-3 border border-top-0"
                                     id="nav-parcours-bloc-option-{{ loop.index }}"
                                     role="tabpanel"
                                     aria-labelledby="nav-parcours-bloc-option-tab-{{ loop.index }}" tabindex="0">
                                    <div class="row g-3">
                                        {% for blocOption in campagne_choix.blocOptions|filter(blocOption => blocOption.parcours.id == parcours.id) %}
                                            <div class="col-md-4 col-lg-3">
                                                <div class="card">
                                                    <div class="card-header px-2 py-1">
                                                        {{ blocOption.blocUE.category.label }}
                                                    </div>
                                                    <div class="card-body">
                                                        <ul>
                                                            {% for UE in blocOption.UEs %}
                                                                <li>{{ UE.label }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-primary m-0">
                            Aucun bloc d'UE n'a été créé pour ce parcours.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                    Choix des étudiants
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body p-2">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            {% for parcours in campagne_choix.parcours %}
                                <button class="nav-link py-1 {{ loop.first ? 'active' : '' }}"
                                        id="nav-parcours-tab-{{ loop.index }}"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-parcours-{{ loop.index }}" type="button" role="tab"
                                        aria-controls="nav-parcours-{{ loop.index }}"
                                        aria-selected="{{ loop.first ? 'true' : 'false' }}">
                                    {{ parcours.label }}
                                </button>
                            {% endfor %}
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        {% for parcours in campagne_choix.parcours %}
                            {% set parcoursIndex = loop.index %}
                            <div class="tab-pane fade {{ loop.first ? 'show active' : '' }} p-3 border border-top-0"
                                 id="nav-parcours-{{ loop.index }}"
                                 role="tabpanel"
                                 aria-labelledby="nav-parcours-tab-{{ loop.index }}" tabindex="0">
                                <div class="row g-3">
                                    {% for etudiant in parcours.etudiants %}
                                        {% set campagne = etudiant.responseCampagnes|filter(response => response.campagne.id == campagne_choix.id)|first %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="accordion">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header"
                                                        id="panelsStayOpen-heading-{{ parcoursIndex }}-{{ loop.index }}">
                                                        <button class="accordion-button collapsed p-2" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#panelsStayOpen-collapse-{{ parcoursIndex }}-{{ loop.index }}"
                                                                aria-expanded="false"
                                                                aria-controls="panelsStayOpen-collapse-{{ parcoursIndex }}-{{ loop.index }}">
                                                            {% if campagne and campagne.choixes|length > 0 %}
                                                                <span class="badge bg-primary me-2">
                                                                    <span class="fa fa-check"></span>
                                                                </span>
                                                            {% endif %}
                                                            {{ etudiant.prenom }} {{ etudiant.nom }}
                                                        </button>
                                                    </h2>
                                                    <div id="panelsStayOpen-collapse-{{ parcoursIndex }}-{{ loop.index }}"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="panelsStayOpen-heading-{{ parcoursIndex }}-{{ loop.index }}">
                                                        <div class="accordion-body p-2">
                                                            {% if campagne %}
                                                                {% for blocOption in campagne_choix.blocOptions|sort((a, b) => a.blocUE.category.label <=> b.blocUE.category.label) %}
                                                                    <div>
                                                                        {{ blocOption.blocUE.category.label }}
                                                                    </div>
                                                                    {% set choixes = campagne.choixes|filter(choix => choix.blocOption.id == blocOption.id) %}
                                                                    {% if choixes|length > 0 %}
                                                                        <ol>
                                                                            {% for choix in choixes|sort((a, b) => a.ordre <=> b.ordre) %}
                                                                                <li>
                                                                                    <a href="{{ path('app_ue_show', {'id': choix.ue.id}) }}">
                                                                                        {{ choix.ue.label }}
                                                                                    </a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ol>
                                                                    {% else %}
                                                                        <div class="alert alert-primary p-2">
                                                                            Les UEs de ce bloc n'ont pas encore été
                                                                            choisies.
                                                                        </div>
                                                                        <ul>
                                                                            {% for ue in blocOption.ues %}
                                                                                <li>
                                                                                    <a href="{{ path('app_ue_show', {'id': ue.id}) }}">
                                                                                        {{ ue.label }}
                                                                                    </a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="alert alert-primary m-0">
                                                                    Aucun choix n'a été enregistré pour cet étudiant.
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    </div> #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('campagne_choix_show') }}
{% endblock %}