{% extends 'base.html.twig' %}

{% block title %}CampagneChoix{% endblock %}

{% block body %}
    <h1>CampagneChoix</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ campagne_choix.id }}</td>
        </tr>
        <tr>
            <th>DateDebut</th>
            <td>{{ campagne_choix.dateDebut ? campagne_choix.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DateFin</th>
            <td>{{ campagne_choix.dateFin ? campagne_choix.dateFin|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <h4>Bloc options</h4>
    {% for blocOption in campagne_choix.blocOptions %}
        <div class="card">
            <div class="card-header">
                <span class="badge bg-primary">{{ blocOption.nbUEChoix }}</span>
                {{ blocOption.blocUE.label }}
            </div>
            <div class="card-body">
                <h5>UE optionnelle</h5>
                {% for ue in blocOption.ue %}
                    <span class="badge bg-primary">{{ ue.label }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <a href="{{ path('app_campagne_choix_index') }}">back to list</a>

    <a href="{{ path('app_campagne_choix_edit', {'id': campagne_choix.id}) }}">edit</a>

    {{ include('campagne_choix/_delete_form.html.twig') }}
{% endblock %}
