{% extends 'base.html.twig' %}

{% block title %}Rythme{% endblock %}

{% block body %}
    <h1>Rythme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rythme.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ rythme.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rythme_index') }}">back to list</a>

    <a href="{{ path('app_rythme_edit', {'id': rythme.id}) }}">edit</a>

    {{ include('rythme/_delete_form.html.twig') }}
{% endblock %}
