{% extends 'base.html.twig' %}

{% block title %}BlocUECategory index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Liste des catégorie de bloc UE</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_bloc_ue_category_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Créer une catégorie de bloc UE
            </a>
        </div>
    </div>

    {{ knp_pagination_filter(bloc_ue_categories, {
        'p.id': 'ID',
        'b.label': 'Libellé',
    }) }}

    <div class="badge bg-primary">
        {{ bloc_ue_categories.getTotalItemCount }} catégorie(s) de bloc UE
    </div>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th>{{ knp_pagination_sortable(bloc_ue_categories, 'ID', 'b.id') }}</th>
            <th>{{ knp_pagination_sortable(bloc_ue_categories, 'Libellé', 'b.label') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bloc_ue_category in bloc_ue_categories %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ bloc_ue_category.id }}</td>
                <td>{{ bloc_ue_category.label }}</td>
                <td class="text-end">
                    <div class="btn-group">
                        <a href="{{ path('app_bloc_ue_category_show', {'id': bloc_ue_category.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('app_bloc_ue_category_edit', {'id': bloc_ue_category.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(bloc_ue_categories) }}
    </div>

{% endblock %}
