{% import _self as formMacros %}

{% macro printUE(blocUeUe) %}
    <div class="mb-2 d-flex gap-2">
        {{ form_widget(blocUeUe.ue) }}
        {{ form_widget(blocUeUe.optional) }}
        <button type="button" class="btn btn-sm btn-danger align-self-center" data-action="delete-ue">
            <i class="fas fa-trash"></i>
        </button>
    </div>
{% endmacro %}

{% macro printNoUE() %}
    <div class="alert alert-primary m-0 p-2">
        Aucune UE n'a encore été ajoutée.
    </div>
{% endmacro %}

{% macro printBlocUE(blocUE) %}
    <div class="col-12 col-xl-6" data-bloc-ue data-index="{{ blocUE.vars.name }}">
        <div class="card">
            <div class="card-header ps-3 pe-1 py-1">
                <div class="d-flex">
                    <div class="flex-grow-1 align-self-center">
                        Bloc UE n°{{ blocUE.vars.name == "__name__" ? "__name__" : blocUE.vars.name|number_format + 1 }}
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-sm btn-danger" data-action="delete-bloc-ue">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                {{ form_row(blocUE.category, { 'attr': {'data-previous-value': blocUE.category.vars.value } }) }}
                {{ form_row(blocUE.nbUEsOptional) }}
                <div class="ues-container d-grid gap-3"
                     data-block-ue-ues-count="{{ blocUE.blocUeUes|length }}"
                     data-original-prototype="{{ formMacros.printUE(blocUE.blocUeUes.vars.prototype)|e('html_attr') }}"
                     data-no-ue="{{ formMacros.printNoUE()|e('html_attr') }}"
                >
                    <div class="card ues-container-child">
                        <div class="card-header ps-3 pe-1 py-1">
                            <div class="d-flex">
                                <div class="flex-grow-1 align-self-center">
                                    UEs obligatoires
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-sm btn-primary" data-action="add-ue"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Ajouter une UE">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            {% if blocUE.blocUeUes|length > 0 %}
                                {% for blocUeUe in blocUE.blocUeUes|filter((blocUeUe) => blocUeUe.vars.value.isOptional != true) %}
                                    {{ formMacros.printUE(blocUeUe) }}
                                {% endfor %}
                            {% else %}
                                {{ formMacros.printNoUE() }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="card ues-container-child">
                        <div class="card-header ps-3 pe-1 py-1">
                            <div class="d-flex">
                                <div class="flex-grow-1 align-self-center">
                                    UEs optionnelles
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-sm btn-primary"
                                            data-action="add-ue"
                                            data-optional="1" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Ajouter une UE optionnelle">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            {% if blocUE.blocUeUes|length > 0 %}
                                {% for blocUeUe in blocUE.blocUeUes|filter((blocUeUe) => blocUeUe.vars.value.isOptional) %}
                                    {{ formMacros.printUE(blocUeUe) }}
                                {% endfor %}
                            {% else %}
                                {{ formMacros.printNoUE() }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

 {% macro printNoBlocUE() %}
     <div id="no-bloc-ue" class="col-12">
         <div class="alert alert-primary m-0 p-2">
             Aucun bloc d'UE n'a encore été ajouté.
         </div>
     </div>
 {% endmacro %}

{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.anneeFormation) }}
    </div>
    <div class="col">
        {{ form_row(form.label) }}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header ps-3 pe-1 py-1">
        <div class="d-flex">
            <div class="flex-grow-1 align-self-center">
                Liste des blocs d'UE
            </div>
            <div class="flex-shrink-0">
                <a id="add-bloc-ue" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i>
                    Ajouter un bloc d'UE
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div id="list-bloc-ue" class="row g-4"
             data-prototype="{{ formMacros.printBlocUE(form.blocUEs.vars.prototype)|e('html_attr') }}"
             data-no-bloc-ue="{{ formMacros.printNoBlocUE()|e('html_attr') }}"
        >
            {% if form.blocUEs.vars.value is not empty %}
                {% for blocUE in form.blocUEs|reverse %}
                    {{ formMacros.printBlocUE(blocUE) }}
                {% endfor %}
            {% else %}
                {{ formMacros.printNoBlocUE() }}
            {% endif %}
        </div>
    </div>
</div>

<div class="text-end mb-3">
    <button class="btn btn-sm btn-primary">
        <i class="fas fa-save"></i>
        {{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}
