{% import _self as formMacros %}

{% macro printUE(ue) %}
    <div class="mb-2 d-flex gap-2">
        {{ form_widget(ue) }}
        <button type="button" class="btn btn-sm btn-danger" data-action="delete-ue">
            <i class="fas fa-trash"></i>
        </button>
    </div>
{% endmacro %}

{% macro printNoUE() %}
    <div class="alert alert-info m-0 p-2">
        Aucune UE n'a encore été ajoutée.
    </div>
{% endmacro %}

{% macro printBlocUE(blocUE) %}
    <div class="col-12 col-xl-6" data-bloc-ue data-index="{{ blocUE.vars.name }}">
        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        Bloc UE n°{{ blocUE.vars.name == "__name__" ? "__name__" : blocUE.vars.name|number_format + 1 }}
                    </div>
                    <div class="flex-shrink-0">
                        <button type="button" class="btn btn-sm btn-danger" data-action="delete-bloc-ue">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                {{ form_row(blocUE.blocUECategory, { 'attr': { 'data-ues-container': [blocUE.ues.vars.id, blocUE.blocOption.vars.id]|json_encode, 'data-previous-value': blocUE.blocUECategory.vars.value } }) }}
                {{ form_row(blocUE.blocOption.nbUEChoix) }}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                UEs obligatoires
                            </div>
                            <div class="flex-shrink-0">
                                <button type="button" class="btn btn-sm btn-primary" data-action="add-ue"
                                        data-target="#{{ blocUE.ues.vars.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="{{ blocUE.ues.vars.id }}" class="card-body"
                         data-original-prototype="{{ formMacros.printUE(blocUE.ues.vars.prototype)|e('html_attr') }}"
                         data-no-ue="{{ formMacros.printNoUE()|e('html_attr') }}">
                        {% for ue in blocUE.ues %}
                            {{ formMacros.printUE(ue) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                UEs optionnelles
                            </div>
                            <div class="flex-shrink-0">
                                <button type="button" class="btn btn-sm btn-primary" data-action="add-ue"
                                        data-target="#{{ blocUE.blocOption.vars.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="{{ blocUE.blocOption.vars.id }}" class="card-body"
                         data-original-prototype="{{ formMacros.printUE(blocUE.blocOption.ues.vars.prototype)|e('html_attr') }}"
                         data-no-ue="{{ formMacros.printNoUE()|e('html_attr') }}">
                        {% for ue in blocUE.blocOption.ues %}
                            {{ formMacros.printUE(ue) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

 {% macro printNoBlocUE() %}
     <div id="no-bloc-ue" class="col-12">
         <div class="alert alert-info m-0 p-2">
             Aucun bloc d'UE n'a encore été ajouté.
         </div>
     </div>
 {% endmacro %}

{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.anneeFormation) }}
    </div>
    <div class="col">
        {{ form_row(form.label) }}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header p-2">
        <div class="d-flex">
            <div class="flex-grow-1">
                Liste des blocs d'UE
            </div>
            <div class="flex-shrink-0">
                <a id="add-bloc-ue" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i>
                    Ajouter un bloc d'UE
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="list-bloc-ue" class="row g-4"
             data-prototype="{{ formMacros.printBlocUE(form.blocUEs.vars.prototype)|e('html_attr') }}"
             data-no-bloc-ue="{{ formMacros.printNoBlocUE()|e('html_attr') }}"
        >
            {% if form.blocUEs.vars.value is not empty %}
                {% for blocUE in form.blocUEs|reverse %}
                    {{ formMacros.printBlocUE(blocUE) }}
                {% endfor %}
            {% else %}
                {{ formMacros.printNoBlocUE() }}
            {% endif %}
        </div>
    </div>
</div>

<div class="text-end mb-3">
    <button class="btn btn-sm btn-primary">
        <i class="fas fa-save"></i>
        {{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}
