{% extends 'base.html.twig' %}

{% block title %}Edit Parcours{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Parcours</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('parcours/_delete_form.html.twig') }}

                <a href="{{ path('app_parcours_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    Retour à la liste
                </a>
            </div>
        </div>
    </div>

    {{ include('parcours/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parcours_form') }}
{% endblock %}
