{% extends 'base.html.twig' %}

{% block title %}Parcours index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Liste des parcours</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_parcours_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Créer un parcours
            </a>
        </div>
    </div>

    {{ knp_pagination_filter(parcours, {
        'p.id': 'ID',
        'p.label': 'Nom du parcours',
        'af.label': 'Année de formation',
    }) }}

    {# total items count #}
    <div class="badge bg-primary">
        {{ parcours.getTotalItemCount }} parcour(s)
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead class="table-light">
            <tr>
                {# sorting of properties based on query components #}
                <th>
                    {{ knp_pagination_sortable(parcours, 'ID', 'p.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(parcours, 'Année de formation', 'af.label') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(parcours, 'Nom du parcours', 'p.label') }}
                </th>
                <th>Bloc UEs</th>
                <th></th>
            </tr>
            </thead>
            <tbody>


            {# table body #}
            {% for parcour in parcours %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ parcour.id }}</td>
                    <td>{{ parcour.anneeFormation }}</td>
                    <td>{{ parcour.label }}</td>
                    <td>
                        {% for bloc in parcour.blocUEs %}
                            <span class="badge bg-primary">{{ bloc.category.label }}</span>
                        {% endfor %}
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a href="{{ path('app_parcours_show', {'id': parcour.id}) }}"
                               class="btn btn-sm btn-primary">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="{{ path('app_parcours_edit', {'id': parcour.id}) }}"
                               class="btn btn-sm btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(parcours) }}
    </div>
{% endblock %}
