{% extends 'base.html.twig' %}

{% block title %}New Parcours{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Création d'un parcours</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_parcours_index') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-arrow-left"></i>
                {{ 'utils.back_to_list'|trans }}
            </a>
        </div>
    </div>
    {{ include('parcours/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parcours_form') }}
{% endblock %}
