{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Parcours</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('parcours/_delete_form.html.twig') }}

                <a href="{{ path('app_parcours_edit', {'id': parcour.id}) }}"
                   class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>

                <a href="{{ path('app_parcours_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ parcour.id }}</td>
        </tr>
        <tr>
            <th>Année de formation</th>
            <td>{{ parcour.anneeFormation }}</td>
        </tr>
        <tr>
            <th>Nom du parcours</th>
            <td>{{ parcour.label }}</td>
        </tr>
        </tbody>
    </table>

    <h5>Liste des blocs UE</h5>
    <div class="row">
        {% for blocUE in parcour.blocUEs %}
            <div class="col-12 col-md-6 col-xxl-4">
                <div class="card">
                    <div class="card-header">
                        {{ blocUE.blocUECategory.label }}
                    </div>
                    <div class="card-body p-2">
                        <div class="tab-pane {{ loop.first ? 'show active' }}" id="nav-ue-{{ loop.index }}"
                             role="tabpanel"
                             aria-labelledby="nav-ue-{{ loop.index }}-tab"
                             tabindex="0">
                            <div class="accordion p-2" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-heading1">
                                        <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true"
                                                aria-controls="panelsStayOpen-collapse1">
                                            UEs obligatoires
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-heading1">
                                        <div class="accordion-body p-2">
                                            {% for blocUeUe in blocUE.blocUeUes|filter((blocUeUe) => blocUeUe.isOptional != true) %}
                                                <div>
                                                    <a href="{{ path('app_ue_show', {'id': blocUeUe.ue.id}) }}">
                                                        {{ blocUeUe.ue.label }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-heading2">
                                        <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-collapse2" aria-expanded="true"
                                                aria-controls="panelsStayOpen-collapse2">
                                            UEs optionnelles
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse show"
                                         aria-labelledby="panelsStayOpen-heading2">
                                        <div class="accordion-body p-2">
                                            {% for blocUeUe in blocUE.blocUeUes|filter((blocUeUe) => blocUeUe.isOptional) %}
                                                <div>
                                                    <a href="{{ path('app_ue_show', {'id': blocUeUe.ue.id}) }}">
                                                        {{ blocUeUe.ue.label }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parcours_show') }}
{% endblock %}