{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Parcours</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('parcours/_delete_form.html.twig') }}

                <a href="{{ path('app_parcours_edit', {'id': parcour.id}) }}"
                   class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>

                <a href="{{ path('app_parcours_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ parcour.id }}</td>
        </tr>
        <tr>
            <th>Année de formation</th>
            <td>{{ parcour.anneeFormation }}</td>
        </tr>
        <tr>
            <th>Nom du parcours</th>
            <td>{{ parcour.label }}</td>
        </tr>
        </tbody>
    </table>

    <h5>Liste des blocs UE</h5>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for blocUE in parcour.blocUEs %}
                <button class="nav-link {{ loop.first ? 'active' }}" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    {{ blocUE.blocUECategory.label }}
                </button>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for blocUE in parcour.blocUEs %}
            <div class="tab-pane fade {{ loop.first ? 'show active' }}" id="nav-home" role="tabpanel"
                 aria-labelledby="nav-home-tab"
                 tabindex="0">
                <div class="accordion p-2 border border-top-0" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                {{ blocUE.ues|length }} UEs obligatoires
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul>
                                    {% for ue in blocUE.ues %}
                                        <li>
                                            <a href="{{ path('app_ue_show', {'id': ue.id}) }}">
                                                {{ ue.label }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                {{ blocUE.blocOption.nbUEChoix }} UE optionnelle parmi
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <ul>
                                    {% for ue in blocUE.blocOption.ues %}
                                        <li>
                                            <a href="{{ path('app_ue_show', {'id': ue.id}) }}">
                                                {{ ue.label }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parcours_show') }}
{% endblock %}