{% extends 'base.html.twig' %}

{% block title %}Specialisation index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Liste des specialisations</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_specialisation_new') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i>
                Ajouter une specialisation
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialisation in specialisations %}
            <tr>
                <td>{{ specialisation.id }}</td>
                <td>{{ specialisation.label }}</td>
                <td>{{ specialisation.active ? 'Oui' : 'Non' }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('app_specialisation_show', {'id': specialisation.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('app_specialisation_edit', {'id': specialisation.id}) }}"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
