
    {% for bloc_ue in campagne_choix.blocOptions %}
    <div class="card mb-4">
        <div class="card-header">
            {{ bloc_ue.blocUE.blocUECategory.label }}
        </div>
        
            {% for ue in bloc_ue.ues %}
            <div class="card mb-4">
            
                <div class="card-header">
                    {{ ue.label }}
                </div>
                <div class="row">
                {% for groupe in ue.groupes %}
                        <div class="col-sm-4">
                        <div class="card">
                       <h5 class="card-title"> {{groupe.label}}</h5>
                        {% if groupe.etudiants %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" class="form-check-input" data-check-all
                                                   alt="Tout cocher">
                                        </th>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col"></th>
                                    </thead>
                                    <tbody data-check-all-container>

                            {% for etudiant in groupe.etudiants %}
                            <tr>
                                            <td>
                                                <input type="checkbox" class="form-check-input" name="etudiant[]"
                                                       value="{{ etudiant.id }}">
                                            </td>
                                            <td>{{ etudiant.id }}</td>
                                            <td>{{ etudiant.nom }}</td>
                                            <td>{{ etudiant.prenom }}</td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <a id="add-bloc-ue"
                                                       data-action="load-form"
                                                       data-modal-title="Déplacer l'étudiant vers un autre parcours"
                                                       data-url="{{ path('app_passage_annee_move_student', {id: etudiant.id}) }}"
                                                       data-ajax-target="#list-annee"
                                                       class="btn btn-primary btn-sm"
                                                       data-bs-popper="static" data-bs-toggle="tooltip"
                                                       data-bs-placement="left"
                                                       title="Déplacer vers un autre parcours">
                                                        <i class="fa-solid fa-angles-right"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                            {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                        </div>
                        {% else %}
                        Pas de groupes crées 
                        {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
    </div>
    {% endfor %}
    <a href="{{ path('app_bloc_ue_index') }}">back to list</a>
