{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        <div class="d-flex">
            <h3>Formulaire de passage d'année</h3>
            <div class="ms-auto">
                <a href="{{ path('app_passage_annee') }}"
                   class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back'|trans }} à la gestion des parcours
                </a>
            </div>
        </div>

        <div class="bg-light rounded-lg">
            <ol class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route == 'app_passage_annee_worflow_step_1' and anneeFormation == 'M2' ? 'active' }}"
                       href="{{ path('app_passage_annee_worflow_step_1', {'anneeFormation': 'M2'}) }}">
                        Étape 1 - M2
                    </a>
                </li>
                {% if app.session.get('form_step_M2_1_redoublants') %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route == 'app_passage_annee_worflow_step_1_2' and anneeFormation == 'M2' ? 'active' }}"
                           href="{{ path('app_passage_annee_worflow_step_1_2', {'anneeFormation': 'M2'}) }}">
                            Étape 1.2 - M2 redoublants
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route == 'app_passage_annee_worflow_step_1' and anneeFormation == 'M1' ? 'active' }}"
                       href="{{ path('app_passage_annee_worflow_step_1', {'anneeFormation': 'M1'}) }}">
                        Étape 2 - M1
                    </a>
                </li>
                {% if app.session.get('form_step_M1_1_redoublants') %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route == 'app_passage_annee_worflow_step_1_2' and anneeFormation == 'M1' ? 'active' }}"
                           href="{{ path('app_passage_annee_worflow_step_1_2', {'anneeFormation': 'M1'}) }}">
                            Étape 2.2 - M1 redoublants
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route == 'app_passage_annee_worflow_step_2' and anneeFormation == 'M1' ? 'active' }}"
                       href="{{ path('app_passage_annee_worflow_step_2', {'anneeFormation': 'M1'}) }}">
                        Étape 3 - M1 parcours
                    </a>
                </li>
            </ol>
        </div>
    </div>

    {% block content %}
    {% endblock %}
{% endblock %}