{% for annee in anneeFormation %}
    {% set currentTab = app.request.cookies.get('anneeTab' ~ annee.id) ?: (annee.parcours|length > 0 ? '#parcours-' ~ annee.parcours[0].id : '') %}
    <div class="card mb-4">
        <div class="card-header">
            {{ annee.label }}
        </div>
        <div class="card-body p-2">
            {% if annee.parcours|length > 0 %}
                <ul class="nav nav-tabs" id="anneeTab{{ annee.id }}" role="tablist">
                    {% for parcours in annee.parcours %}
                        <li class="nav-item" role="presentation">
                            {% set bsTarget = '#parcours-' ~ parcours.id %}
                            <button class="nav-link {{ currentTab == bsTarget ? 'active' : '' }}"
                                    id="parcours-{{ parcours.id }}-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="{{ bsTarget }}" type="button" role="tab"
                                    aria-controls="parcours-{{ parcours.id }}"
                                    aria-selected="{{ currentTab == bsTarget ? 'true' : 'false' }}">
                                {{ parcours.label }}
                                {% if parcours.etudiants|length > 0 %}
                                    <span class="badge rounded-pill bg-info">{{ parcours.etudiants|length }}</span>
                                {% endif %}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="anneeTab{{ loop.index }}Content">
                    {% for parcours in annee.parcours %}
                        {% set bsTarget = '#parcours-' ~ parcours.id %}
                        <div class="tab-pane fade p-2 border border-top-0 {{ currentTab == bsTarget ? 'show active' }}"
                             id="parcours-{{ parcours.id }}"
                             role="tabpanel"
                             aria-labelledby="parcours-{{ parcours.id }}-tab">
                            {% if parcours.etudiants|length > 0 %}
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <h6>Liste des étudiants</h6>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <a data-move-selected
                                           class="btn btn-sm btn-primary disabled"
                                           id="add-bloc-ue"
                                           data-modal-title="Déplacer les étudiants vers un autre parcours"
                                           data-url="{{ path('app_passage_annee_move_students') }}"
                                           data-ajax-target="#list-annee">
                                            <i class="fa-solid fa-angles-right"></i>
                                            Déplacer
                                        </a>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" class="form-check-input" data-check-all
                                                   alt="Tout cocher">
                                        </th>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col"></th>
                                    </thead>
                                    <tbody data-check-all-container>
                                    {% for etudiant in parcours.etudiants %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="form-check-input" name="etudiant[]"
                                                       value="{{ etudiant.id }}">
                                            </td>
                                            <td>{{ etudiant.id }}</td>
                                            <td>{{ etudiant.nom }}</td>
                                            <td>{{ etudiant.prenom }}</td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <a id="add-bloc-ue"
                                                       data-action="load-form"
                                                       data-modal-title="Déplacer l'étudiant vers un autre parcours"
                                                       data-url="{{ path('app_passage_annee_move_student', {id: etudiant.id}) }}"
                                                       data-ajax-target="#list-annee"
                                                       class="btn btn-primary btn-sm"
                                                       data-bs-popper="static" data-bs-toggle="tooltip"
                                                       data-bs-placement="left"
                                                       title="Déplacer vers un autre parcours">
                                                        <i class="fa-solid fa-angles-right"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-primary p-2 m-0" role="alert">
                                    Aucun étudiant dans ce parcours
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-primary p-2 m-0" role="alert">
                    Aucun parcours dans cette année
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
