{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'title.passageannee'|trans }}
{% endblock %}

{% block body %}
    <h5>Liste des années de formation</h5>
    <div id="list-annee">
        {{ include('passage_annee/_list_annee.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('passage_annee_index') }}

{% endblock %}
