{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {# TODO
        Etape 1 :
            Pour les M2, faire la distinction entre les éléves qui on obtenu leur année et ceux pour qui ce n'est pas le cas.
            Aprés avoir fait ca on dois traiter le cas de chaque éléves qui n'as pas reussi, un select avec l'option "redouble" ou "arrête". Si "redouble" est selectionner alors on affiche un formulaire avec les blocUE de l'éléves pour inscrire les blocUEs reussi et non reussi.
        Etape 2 :
            Même chose pour les M1, sauf que les M1 passe en M2 alors que les M2 sont eux supprimé de la db.
    #}
    <div id="app">
        {{ form_start(form) }}

        <table class="table" id="parcours-table">
            <thead>
            <tr>
                <th>Parcours</th>
                <th>Etudiant</th>
                <th>Reussite</th>
            </tr>
            </thead>
            <tbody>
            {% for parcours in form.parcours %}
                {% for etudiant in parcours.etudiants %}
                    <tr>
                        <td>{{ parcours.vars.value.label }}</td>
                        <td>{{ etudiant.vars.value.nom }} {{ etudiant.vars.value.prenom }}</td>
                        <td>
                            {{ form_widget(etudiant.valide, {attr: {'@change': 'updateRowColor', 'class': 'form-select-sm'}}) }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        {#        {% for parcours in form.parcours %} #}
        {#            {{ parcours.vars.value.label }} #}
        {#            #}{#            {{ form_row(parcours) }} #}
        {#            <ul> #}
        {#                {% for etudiant in parcours.etudiants %} #}
        {#                    <li> #}
        {#                        {{ etudiant.vars.value.nom }} {{ etudiant.vars.value.prenom }} #}
        {#                    </li> #}
        {#                {% endfor %} #}
        {#            </ul> #}
        {#        {% endfor %} #}
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('passage_annee_form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('passage_annee_form') }}
{% endblock %}

