{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Étudiant</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('etudiant/_delete_form.html.twig') }}

                <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}"
                   class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>

                <a href="{{ path('app_etudiant_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }} des étudiants
                </a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.mail }}</td>
            </tr>
            <tr>
                <th>Parcours</th>
                <td>
                    {% if etudiant.parcours %}
                        <a href="{{ path('app_parcours_show', {'id': etudiant.parcours.id}) }}">{{ etudiant.parcours }}</a>
                    {% else %}
                        <div class="alert alert-info">
                            L'étudiant n'a pas de parcours.
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Groupes</th>
                <td>
                    {% if etudiant.groupes|length > 0 %}
                        <ul>
                            {% for groupe in etudiant.groupes %}
                                <li>
                                    <a href="{{ path('app_groupe_show', {'id': groupe.id}) }}">{{ groupe.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-info">
                            L'étudiant ne fait partie d'aucun groupe.
                        </div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
